* {
    box-sizing: border-box;

}

.object__list {
    height: 100%;
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.object__list-item {
    list-style: none;
    border: 2px solid black;
    padding: 10px;
    max-height: 700px;
    overflow-y: scroll;
}

.object__list-item li {
    white-space: pre;
    padding: 4px;
    border: 2px solid black;
    margin: 4px 0;
}