* {
  padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

html,
body {
	height: 100%;
}

body {
  overflow-anchor: none;
  font-family: Montserrat;
  // font-family: "asd";
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  vertical-align: top;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

a:link,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

.site-container {
  min-height: 100%;
	display: flex;
	flex-direction: column;
  overflow: hidden;
  // Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
}

// .is-hidden {
//   display: none !important; // stylelint-disable-line declaration-no-important
// }

// .visually-hidden {
//   @include visually-hidden;
// }

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
