

/////////////////////


.counter {
  max-width: 500px;
  background-color: gray;
  text-align: center;
		&__wrapper-title {
      background-color: orange;
      padding: 20px;
		}

    &__main-title {
      width: 300px;
      margin: 0 auto;
      color: ghostwhite;
      font-size: 22px;
    }

    &__input {
      font-size: 24px;
      padding: 10px 20px;
      border-radius: 5px;

    }

		&__error {
      font-size: 14px;
      color: red;
      margin-bottom: 30px;
      // visibility: hidden;
      // opacity: 0;
		}

    &__btn {
      padding: 10px 15px;
      background-color: green;
      color: #fff;
    }

    &__form {
      padding: 30px;
    }

    &__amount {
      color: ghostwhite;
      

    }
}
.result {

  &__card {
    text-align: center;
    margin-right: 40px;

    &-box {
      display: flex;

    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__card-wrapper {
    padding: 20px 5px;
  }

  &__summ-title {
    margin-bottom: 10px;
    font-size: 20px;
  }

  &__summ {
    background-color: green;
    padding: 15px 0;
    margin: 0 15px;
    border-radius: 5px;
  }

  &__text {
    font-size: 20px;
  }
}
